/* RESPONSIVE FOR MOBILE DEVICE */
@media screen and (max-width: 576px) {
  section {
    margin: 0 10px 80px 10px;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-info {
    font-size: 1rem;
  }

  /* banner section */
  .banner {
    margin: 0 10px 80px 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner-content h2 {
    font-size: 3rem;
    margin-bottom: 16px;
  }
  .banner-content p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .banner-image img {
    width: 90%;
  }
  .rating-info h4 {
    font-size: 1rem;
  }
  .rating-info p {
    font-size: 0.75rem;
  }

  /* product section */
  .product-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .single-product-card {
    width: 65%;
    margin: 0 auto;
  }
  .single-product-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .single-product-card p {
    font-size: 0.875rem;
    font-weight: 500;
    color: rgb(75, 75, 75);
  }

  /* product2 section */
  .product2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .product2-cards-col1,
  .product2-cards-col2 {
    grid-template-rows: repeat(7, 35px);
  }
  .product2-content h4 {
    font-size: 1.25rem;
  }
}
